PROJECT_NAME=movibot-v9
COMPOSE_PROJECT_NAME=movibotv9
API_PORT=8000
NGINX_PORT=80
REDIS_PORT=6379
TIMEZONE=UTC
MOVIEBOT_ENV=production
BOT_PLATFORM=telegram
BOT_TOKEN=replace_me
TMDB_API_KEY=replace_me
